selector{
    property:value;
    property:value;
    property:value;
}
h1#firsth{
    color: blue ;
    font-size: 25px;
}

#firsth{
    color: blue ;
    font-size: 25px;
}
h1{
    color: red;
}


/* style of collection*/
.collection{
    color: rgb(86, 179, 157);
}
/* anything */

/*
rgb
red green blue
0:255
255   50    255 

*/

p{
    color:#ff5df9;
   
}