*{
    margin: 0;
    padding: 0;
}



div{
    background-color: rgb(160, 160, 233);
  
   border: 2px solid black; 
     /*padding-left: 20px;
    padding-top: 50px;

    padding-right: 25px;
    padding-bottom: 25px;
    padding: 30px 20px;
    margin-left: 25px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;*/
    margin: 70px ;

}
h1{
    background-color: aqua;
    border: 2px solid;
    width:fit-content;
    padding: 20px;
    margin: 10px;
}